/*#region common*/

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

/*#endregion common*/

/*#region our-team Третя секція*/

.team {
  padding: 120px 0;
  margin-bottom: 112px;
  background-color: #f4f4fd;
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.team-person {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.team-person-post {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.team-list-item {
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px;
  width: calc((100% - 72px) / 4);
  background-color: #fff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.person-card {
  padding: 32px 0;
}
.team-socials {
  display: flex;
  gap: 24px;
  justify-content: center;
  padding-top: 8px;
}
.socials-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  padding-top: 8px;
}
.socials-list-item {
  width: 40px;
  height: 40px;
}
.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover,
.socials-link:focus {
  background-color: #404bbf;
}
.team-socials-icons {
  fill: #f4f4fd;
}

/*#endregion our-team*/

/*#region our-portfolio Четверта секція*/

.portfolio {
  margin-bottom: 120px;
}
.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.app-image {
  position: relative;
  overflow: hidden;
}
.hidden-paragraph {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.app-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.app-name {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.app-category {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.portfolio-list-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-list-item:hover .hidden-paragraph {
  transform: translateY(0%);
}

/*#endregion our-portfolio*/

/*#region footer*/
.page-footer {
  padding: 100px 0;
  background-color: #2e2f42;
}
.page-footer .container {
  align-items: baseline;
}
.footer-text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
.page-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-page-logo-accent {
  color: #f4f4fd;
}
.page-footer .container {
  display: flex;
  gap: 120px;
}
.footer-socials-list {
  display: flex;
  padding-top: 16px;
  gap: 16px;
}
.footer-socials-item {
  width: 40px;
  height: 40px;
}
.footer-titles {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  /*margin-bottom: 16px;*/
}
.footer-logo-text {
}
.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: #31d0aa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: #4d5ae5;
  border-radius: 50%;
}
.footer-socials-icons {
  fill: #f4f4fd;
}
.footer-form-wrapper {
}
.footer-form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.foot-form {
  display: flex;
  gap: 24px;
}
.foot-form-label {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.foot-form input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  padding-left: 16px;
}
.e-mail_subscr {
  display: flex;
  gap: 24px;
}
.e-mail-input {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
}
.e-mail-input::placeholder {
  color: #ffffff;
}
.subscr-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.foot-form-btn-icon {
  fill: #fff;
  margin-left: 16px;
} /*#endregion footer*/
/*#region popup*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  height: 100%;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hidden-popup {
  opacity: 0;
  user-select: none;
  pointer-events: none;
}
.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
}
.popup-form {
  position: relative;
}
.popup-exit {
  position: absolute;
  padding: 0;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.popup-exit:hover,
.popup-exit:focus {
  background-color: #404bbf;
  border: none;
}

.popup-exit-icon {
  display: block;
  fill: #e7e9fc;
  stroke: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.popup-exit:hover .popup-exit-icon {
  fill: #ffffff;
}
.popup-exit:focus .popup-exit-icon {
  fill: #ffffff;
}
.popup-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.form-field-wrapper {
  margin-bottom: 8px;
}
.form-field-wrapper-textarea {
  margin-bottom: 16px;
}
.field-wrapper {
  position: relative;
}

.label-field {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.input-field {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  align-items: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2e2f42;
}
.input-field:focus {
  border-color: #4d5ae5;
}
.field-icon {
  position: absolute;
  fill: #2e2f42;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-field:focus + .field-icon {
  fill: #4d5ae5;
}

.user-text {
  resize: none;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user-text:focus {
  border-color: #4d5ae5;
}
/*.user-text::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  padding: 8px 0 0 16px;
  padding-left: 38px;
}*/
.form-field-wrapper-policy {
  margin-bottom: 24px;
}
.popup-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 169px;
  height: 56px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border: none;
  left: 50%;
  transform: translateX(-50%);
  margin: 24px;
}

.popup-btn:focus {
  outline: none;
}

.custom-chb {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 8px;
  height: 16px;
  width: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.policy-chb:checked + .policy .custom-chb {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.policy {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.pp-link {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
/*#endregion popup*/
