/*#region common*/
.hidden {
  display: none;
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*#endregion common*/
/*#region container*/
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/*#endregion container*/
/*#region header*/
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.page-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.link-list,
.contacts {
  display: none;
}

.page-logo {
  font-size: 18px;
  line-height: 1.17;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo {
  padding: 16px 0;
  display: block;
}
.page-logo-accent {
  color: #2e2f42;
}
.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}
@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }
  .page-nav {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    display: flex; /*для розміщення логотипу та меню в одну лінію*/
    align-items: center; /*для вирівнювання навігації та контактів по вертикалі*/
  }
  .page-nav .link {
    color: #2e2f42;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
  }
  .link-list {
    display: flex;
    gap: 40px;
  }
  .page-nav .link:hover,
  .page-nav .link:active,
  .page-nav .link:focus {
    color: #404bbf;
  }
  .contacts {
    font-style: normal;
    display: flex;
  }
  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: #434455;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .contacts-list-item {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-list-item:hover,
  .contacts-list-item:focus {
    color: #404bbf;
  }
  .link-list li:first-child .link {
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #404bbf;
  }
  .link-list li:first-child .link::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }
}
@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
  .contacts-list {
    flex-direction: row;
    gap: 40px;
    align-items: center;
  }
  .contacts-list-item {
    font-size: 16px;
    padding: 24px 0;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/*#endregion header*/
